# Dependencies
node_modules/

# Build
dist/
build/

# Local dev
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Git
.git/
.gitignore

# Logs
*.log

# Test
coverage/
.nyc_output/

# Misc
*.heapsnapshot